.entryAnalysisResult {
  margin-top: 270px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #F0F0F0;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

#resultsChart {
  position: fixed;
  width: 500px;
  height: 180px;
  top: 95px;
  left: 50%;
  margin-left: -250px;
}

.glassHover:hover {
  cursor: help;
}




