.Home-entry-list-icons {
  float: right;
  font-size: 14px;
}

.Home-entry-list-icons:hover {
  cursor: pointer;
}

#Home-trash-icon {
  color: red;
  margin-left: 10px;
}

#Home-edit-icon {
  color: green;
}

.rt-tr.-odd {
    background-color: #ADD8E5 !important; /* green */
}

.ReactTable .rt-tbody .rt-td {
    border: 1px solid black !important;
}

#Home-Table-Container {
	margin: 40px auto;
	text-align: center;
}

#Home-New-Entry-Button {
  margin-top: 30px;
}

#Home-Not-Authenticated-Message {
  margin-top: 100px;
  text-align: center;
}

.Home-Login-Text-Link {
  color: purple;
}

.Home-Login-Text-Link:hover {
  cursor: pointer;
}

#Home-Table-Entry-Link:hover {
  cursor: pointer;
}


