.EntryForm {
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#entryTextArea {
  height: 300px;
  margin-bottom: 20px;
}

#results-modal-title {
  text-align: center;
}

.marginTop20 {
  margin-top: 20px;
}