.Signup-And-Confirm-Forms {
  background-color: #DFDFDF;
  margin: 6% 10%;
  text-align: center;
  padding: 40px 0;
}

@media only screen and (min-width: 800px) {
  .Signup-And-Confirm-Forms {
    margin: 6% 25%;
  }
}

.Signup-And-Confirm-Inputs, #Signup-Submit-Button {
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
}

.Signup-And-Confirm-Error-Alert {
  margin-top: 40px;
  width: 80%;
  margin: 40px auto;
}


.Signup-And-Confirm-Field-Top-Margin {
  margin-top: 10px;
}

#Signup-Submit-Button {
  margin: 40px auto;
}

