
#Login-Form {
  background-color: #DFDFDF;
  margin: 6% 10%;
  text-align: center;
  padding: 40px 0;
}

@media only screen and (min-width: 800px) {
  #Login-Form {
    margin: 6% 25%;
  }
}

.Login-Inputs, #Login-Submit-Button {
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
}

.Login-Error-Alert {
  margin-top: 40px;
  width: 80%;
  margin: 40px auto;
}

.Login-Field-Top-Margin {
  margin-top: 10px;
}

.alert {
  text-align: center;
}

#Login-Submit-Button {
  margin: 40px auto;
}

