.Login {
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
  }

@media all and (min-width: 480px) {
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.loginErrorAlert {
  margin-top: 40px;
  width: 80%;
  margin: 40px auto;
}

.alert {
  text-align: center;
}

.loginFieldTopMargin {
  margin-top: 20px;
}