
#Login-Form { 
  background-color: #DFDFDF;
  padding: 20px 10px;
  text-align: center;
  margin: 5%;
  max-width: 500px;
}

.Login-Inputs, #Login-Submit-Button {
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  #Login-Form {
    margin: 8% 25%;
  }
}

.Login-Error-Alert {
  margin-top: 40px;
  width: 80%;
  margin: 40px auto;
}

.Login-Field-Top-Margin {
  margin-top: 10px;
}

.alert {
  text-align: center;
}

